[submodule "extern/catch2"]
	path = extern/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "extern/xoshiro"]
	path = extern/xoshiro
	url = git@github.com:nessan/xoshiro.git
[submodule "extern/cxform"]
	path = extern/cxform
	url = git@github.com:bsd-conqueror/cxform.git
