[submodule "extern/catch2"]
	path = extern/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "extern/xoshiro"]
	path = extern/xoshiro
	url = git@github.com:nessan/xoshiro.git
[submodule "extern/cxform2"]
	path = extern/cxform2
	url = git@github.com:Mashley22/cxform2.git
